@use "./variables" as *;
@use "./mixins" as *;

// Desktop heading
@mixin h1-dt {
    @include fontStyles(700, 11rem, 118px);
}
@mixin h2-dt {
    @include fontStyles(500, 6.4rem, 74px);
}
%h3-dt {
    @include fontStyles(500, 4rem, 50px);
}
@mixin h4-dt {
    @include fontStyles(500, 3rem, 40px);
}

@mixin h5-dt {
    @include fontStyles(500, 2.4rem, 34px);
}

// Mobile heading
@mixin h1-mb {
    @include fontStyles(700, 3.6rem, 52px);
}
@mixin h2-mb {
    @include fontStyles(500, 3.6rem, 40px);
}

@mixin h3-mb {
    @include fontStyles(500, 3.2rem, 32px);
}

// Text
%text1 {
    @include fontStyles(500, 2.4rem, 34px);
}
%text2 {
    @include fontStyles(400, 2.2rem, 32px);
}
%text3 {
    @include fontStyles(400, 2rem, 30px);
}
%text4 {
    font-family: "Plus Jakarta Sans", sans-serif;
    @include fontStyles(500, 2.4rem, 34px);
}
%text5 {
    font-family: "Plus Jakarta Sans", sans-serif;
    @include fontStyles($weight: 600);
}
%text6 {
    font-family: "Plus Jakarta Sans", sans-serif;
    @include fontStyles();
}
%text7 {
    font-family: "Plus Jakarta Sans", sans-serif;
    @include fontStyles(400, 1.4rem, 24px);
}