// Color
$primaryColor: #FB8F2C;
$whiteColor: #FFF;
$whiteColor-80: rgb(255, 255, 255, 0.8);
$blackColor: #111114;
$blackColor-80: rgb(17, 17, 20, 0.8);

$bgColor: $blackColor;
$textColor: $whiteColor;
$linkColor: $whiteColor-80;
$linkActiveColor: $primaryColor;