@use "../../../assets/scss/utilities" as *;

.banner {
    max-width: 1400px;
    margin: 80px auto 150px;
    padding: 40px 0;
    background-color: $primaryColor;
    overflow: hidden;
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
        transform: translateX(100%);
        animation: marquee 10s 0s linear infinite;
    }
    &__item {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        gap: 18px;
        .item {
            &__name {
                @include h3-dt;
                color: $bgColor;
                white-space: nowrap;
            }
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marqueeMobile {
    0% {
        transform: translateX(120%);
    }
    100% {
        transform: translateX(-120%);
    }
}