@use "../../assets/scss/utilities" as *;

.topBar {
    .container {
        padding: 30px 0;
        @include flexBox($justifyContent: space-between);
        .topBar {
            &__btn {
                cursor: pointer;
                display: none;
            }
            &__nav.nav {
                
            }
            &__logo {
                .logo__name {
                    display: none;
                }
            }
            &__cta {
                @include flexBox($justifyContent: flex-end);
                gap: 28px;
                span, a {
                    @extend %text6;
                }
                span {
                    color: $linkColor;
                }
                a {
                    position: relative;
                    color: $textColor;
                    border-bottom: 1px solid $textColor;
                    &.active {
                        color: $linkActiveColor;
                        border-bottom: 1px solid $linkActiveColor;
                    }
                }
            }
        }
    }
}