@use "../../assets/scss/utilities" as *;

.topBar {
    .container {
        padding: 30px 0;
        border: 1px solid #fff;
        @include flexBox($justifyContent: space-between);
        .topBar {
            &__btn {
                cursor: pointer;
                display: none;
            }
            &__nav.nav {
                .nav {
                    &__list {
                        @include flexBox($justifyContent: flex-start);
                        transform: translateX(-16px)
                    }
                    &__item {
                        &-link {
                            @extend %text6;
                            padding: 6px 16px;
                            color: $linkColor;
                            &.active {
                                color: $linkActiveColor;
                            }
                        }
                    }
                }
            }
            &__logo {

            }
            &__cta {
                @include flexBox($justifyContent: flex-end);
                gap: 28px;
                span, a {
                    @extend %text6;
                }
                span {
                    color: $linkColor;
                }
                a {
                    position: relative;
                    color: $textColor;
                    border-bottom: 1px solid $textColor;
                    &.active {
                        color: $linkActiveColor;
                        border-bottom: 1px solid $linkActiveColor;
                    }
                }
            }
        }
    }
}