@use "../utilities" as *;

html {
    font-size: 62.5%;
}

body {
    font-family: "Libre Bodoni", serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 26px;

    background-color: $bgColor;
    color: $textColor;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    font: inherit;
    border: none;
    outline: none;
    background-color: transparent;
}

.container {
    width: 1170px;
    max-width: calc(100vw - 48px);
    margin: 0 auto;
}