@use "../utilities" as *;

// Large
@media (max-width: 1200px) {
    
}

// Medium
@media (max-width: 992px) {
    #topBar {
        .container {
            padding: 20px 0;
            .topBar {
                &__nav.nav {
                    .nav {
                        &__list {
                            transform: translateX(-10px)
                        }
                        &__item {
                            &-link {
                                font-size: 1.4rem;
                                padding: 6px 10px;
                            }
                        }
                    }
                }
                &__logo {
                    width: 40px;
                    height: auto;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &__cta {
                    gap: 16px;
                    span {
                        font-size: 1.4rem;
                        // display: none;
                    }
                    a {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    #home {
        .hero {
            .container {
                .hero {
                    &__textBox {

                    }
                    &__imgBox {
                        img {
                            &:first-child {
                                width: 300px;
                                height: auto;
                            }
                            &:nth-child(2) {
                                top: 30px;
                                right: 20px;
                            }
                            &:nth-child(3) {
                                top: 50%;
                                right: 0;
                                transform: translate(calc(100% + 10px), -50%);
                            }
                            &:nth-child(4) {
                                bottom: 30px;
                                right: 20px;
                            }
                        }
                        .btn {
                            @include fontStyles(500, 1.6rem, 26px);
                            width: 85px;
                            height: 36px;

                        }
                    }
                }
            }
        }
        .statistics {
            background-image: url(../../img/statistics-02.png);
            margin: 50px 0;
            .container {
                padding: 50px 0;
                .statistics {
                    &__list {
                        flex-direction: column;
                        justify-content: center;
                        gap: 30px;
                    }
                }
            }
        }
        .popularFood {
            .container {
                .popularFood {
                    &__heading {
                        @include h3-mb;
                        text-align: center;
                    }
                    &__desc {
                        margin-top: 14px;
                        font-size: 1.4rem;
                        line-height: 24px;
                    }
                    &__list {
                        flex-wrap: wrap;
                        gap: 50px;
                    }
                    &__item {
                        .image {
                            height: 274px;
                        }
                        .desc {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    #footer {
        .container {
            grid-template-columns: repeat(3, auto);
            grid-template-rows: repeat(2, 2fr);
            grid-row-gap: 50px;
            .logo {
                grid-row: auto;
                grid-column: auto;
            }
            .footer {
                &__nav,
                &__contact,
                &__social,
                &__legal {
                    grid-row: auto;
                    grid-column: auto;
                }
            }
        }
    }
}

// Small
@media (max-width: 768px) {
    .container {
        max-width: calc(100vw - 36px);
    }
    #topBar {
        position: relative;
        .container {
            justify-content: flex-start;
            .topBar {
                &__btn {
                    display: block;
                    cursor: pointer;
                }
                &__nav.nav {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    visibility: hidden;
                    .nav {
                        &__list {
                            z-index: 99;
                            position: absolute;
                            display: flex;
                            justify-content: space-evenly;
                            flex-direction: column;
                            width: 100vw;
                            height: calc(100vh - 93px);
                            background-color: $bgColor;
                            transform: translateX(-100%);
                            border: 1px solid $textColor;
                            transition: ease-in 0.8s;
                        }
                    }
                    &.active {
                        .nav {
                            &__list {
                                transform: translateX(0);
                                transition: ease-out 0.8s;
                                z-index: 99;
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
                &__logo {
                    margin-left: 40px;
                }
                &__cta {
                    margin-left: auto;
                    span {
                        display: none;
                    }
                }
            }
        }
    }
    #home {
        .hero {
            .container {
                margin-top: 30px;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                grid-gap: 0;
                .hero {
                    &__textBox {
                        .hero {
                            &__heading {
                                margin: 10px 0 14px;
                                @include h1-mb;
                            }
                            &__subHeading,
                            &__desc {
                                font-size: 1.4rem;
                                line-height: 24px;
                                max-width: 100%;
                            }
                        }
                        .btn {
                            margin-top: 34px;
                        }
                    }
                    &__imgBox {
                        display: flex;
                        justify-content: center;
                        img {
                            &:first-child {
                                width: 220px;
                                height: 100%;
                                transform: translate(-30px, 0);
                            }
                            &:not(:first-child) {
                                width: 54px;
                                height: auto;
                            }
                            &:nth-child(2) {
                                top: 0;
                                right: 50%;
                                transform: translate(calc(50% + 90px) , 20px);
                            }
                            &:nth-child(3) {
                                top: 50%;
                                right: 50%;
                                transform: translate(calc(50% + 120px) , -50%);
                            }
                            &:nth-child(4) {
                                bottom: 0;
                                right: 50%;
                                transform: translate(calc(50% + 90px), -20px);
                            }
                        }
                        .btn {
                            bottom: 0;
                            left: 50%;
                            transform: translate(calc(-50% - 120px), -40px);
                        }
                    }
                }
            }
        }
    }
    #footer {
        .container {
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(5, auto);
            grid-row-gap: 40px;
            grid-column-gap: 20px;
            .logo {
                grid-row: 1 / 2;
                grid-column: 1 / -1;
            }
            .footer {
                &__download {
                    grid-column: 1 / -1;
                }
            }
            & [class$="-label"] {
                font-size: 1.6rem;
                margin-bottom: 12px;
            }
            & [class$="-label"] ~ * {
                gap: 8px;
            }
        }
    }
}

// Extra small
@media (max-width: 576px) {
    
}